/* Container */
.menuContainer {
  background-color: #fff8f0; /* Light peach background */
  padding: 40px;
  text-align: center;
}

/* Title */
.title {
  font-size: 36px;
  color: #ff6347; /* Tomato color */
  margin-bottom: 10px;
}

/* Subtitle */
.subTitle {
  font-size: 18px;
  color: #555;
  margin-bottom: 40px;
}

/* Menu Grid */
.menuGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* Menu Item */
.menuItem {
  background-color: #ffffff; /* White background for items */
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s;
}

.menuItem:hover {
  transform: translateY(-5px);
}

/* Item Image Placeholder */
.itemImage {
  width: 100%;
  height: 150px;
  background-color: #eaeaea; /* Light gray for placeholder */
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Item Name */
.itemName {
  font-size: 20px;
  color: #333;
  margin: 0;
}

/* Item Price */
.itemPrice {
  font-size: 16px;
  color: #ff6347; /* Tomato color */
}
.offerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
